### Nilai Integer

In [2]:
print(123123123123123123+1)

123123123123123124

In [3]:
print(10)
print(type(10))#'type' untuk menjelaskan bahwa yang kita run itu type apa

10
<class 'int'>

### Floating-Point Number
tipe float di python menunjukan bilangan floating-point. nilai float ditentukan dengan titik desimal. secara opsional, karakter e atau E diikuti dengan bilangan bulat positif atau negatif dapat ditambahkan untuk menentukan notasi ilmiah

In [4]:
print(4.2)
print(type(4.2))

4.2
<class 'float'>

In [5]:
print(.2)#'.' menandakan 0,

0.2

In [6]:
print(4.)

4.0

In [8]:
print(.4e7)

4000000.0

In [9]:
print(4.2e-4)

0.00042

### String
string merupakan urutan data karakter, string juga dapat kosong

In [7]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [10]:
print('')

In [11]:
print("This string contains a single quote ('') character.")

This string contains a single quote ('') character.

### Boolean type, boolean context, and "Truthiness"

In [14]:
print(type(True))
print (type(False))

<class 'bool'>
<class 'bool'>

### Variable Assigment

In [16]:
n=300
print(n)

300

In [17]:
n

300

In [18]:
a=b=c=d=300

In [19]:
print(a,b,c,d)

300 300 300 300

### Variabel Type di Python

In [21]:
var=23.5
print(var)

23.5

In [22]:
var="Now I'm a string"

In [23]:
print(var)

Now I'm a string

###  Variabel Names

In [25]:
name = "Hacktiv8"
age = 54
has_laptops=True
print(name,age, has_laptops)

Hacktiv8 54 True

In [26]:
9_kepala_naga = True #nama variabel tidak boleh dimulai denga angka karena akan error

SyntaxError: invalid token (<ipython-input-26-0eda0f31dee6>, line 1)

### Operators and Expressions in Python

In [28]:
a=10
b=40
a+b

50

In [29]:
a+b-5

45

### Arithmetic Operators

In [31]:
a=4
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

7
1
12
1.3333333333333333
1
64

### Comparison Operators

In [33]:
a=10
b=20
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)

False
True
True
False

In [35]:
a=30
b=30
print(a==b)
print(a<=b)
print(a>=b)

True
True
True

### String Manipulation

In [39]:
#operator +
s='foo'
t='bar'
u='baz'
print(s+t)
print(s+t+u)
print('Hacktiv8'+'PTP')

foobar
foobarbaz
Hacktiv8PTP

In [40]:
# operator *
s='foo'
print(s in 'That food for us')
print(s in 'That good for us')

True
False

In [42]:
# Case conversion
s='Hacktiv8'

#Capitalize
print(s.capitalize())

#swapcase
print(s.swapcase())

# title
print(s.title())

#uppercase
print(s.upper())

Hacktiv8
hACKTIV8
Hacktiv8
HACKTIV8

### Python Lists
list adalah kumpulan objek yang arbitrary.List didefinisikan dalam python dengan menyertakan sequence object yang dipisahkan koma dalam tanda kurung siku ([])

In [2]:
a=['foo','bar','baz','qux']
print (a)

['foo', 'bar', 'baz', 'qux']

#### List Are Ordered
list adalah kumpulan object yang berurutan.
brikut sdslsh contoh lidt yg memiliki elemen yang sama dalam urutan yg berbeda, tidak sama:

In [5]:
a=['foo','bar','baz','qux']
b=['baz','qux','bar','foo']
a==b

False

#### List Can contain Arbitrary objects
sebuah list dapat berisi macam-macam objek. elemen dari list semuanya bisa berjenis sama

In [7]:
a=[21.42,'foobar',3,4,'bark',False,3.14159]

In [8]:
print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

#### list elements can be accessed by index

In [21]:
a = ['foo', 'bar', 'baz', 'qux','quux', 'corge'] #ini urutannya foo=0, bar=1, dst

In [22]:
print(a[0])#ini berarti yang di printnya yg ke 0

foo

In [23]:
print(a[4])

quux

In [25]:
print(a[-1])#ini urutannya berarti corge=-1, quux=-2, dst

corge

In [27]:
a[2:5]#ini untuk memunculkan urutan 2 sampai 5

['baz', 'qux', 'quux']

In [28]:
print (a)
print(a+['grault','garply'])#menambahkan elemen (+)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']

In [30]:
print(a*2)#di print 2 kali

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [31]:
print(a)
print(len(a))#menampilkan ada berapa komponen

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6

In [32]:
print(min(a))#menampilkan minimum
print(max(a))#menampilkan maksimum

bar
qux

#### Modifying a Single List Value
satu nilai dalam list dapat diganti dengan pengindeksan dan assigment sederhana

In [35]:
a = ['foo', 'bar', 'baz', 'qux','quux', 'corge']
print(a)
a[2]=10#merubah elemen
a[-1]=20
print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [36]:
del a[3]#menghapus elemen

In [37]:
print(a)

['foo', 'bar', 10, 'quux', 20]

#### Modifying Multiple List Values
mengubah beberapa elemen yang bersebelahan dalam list sekaligus

In [40]:
a = ['foo', 'bar', 'baz', 'qux','quux', 'corge']
print(a[1:4])

['bar', 'baz', 'qux']

In [41]:
a[1:4]=[1.1,2.2,3.3,4.4,5.5]
print(a)

['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

### Python Tuples
tuples identik dengan list dalam segala hal, kecuali untuk properti berikut:
tuples didefinisikan dengan mengapit elemen dalam tanda kurung (())daripada tanda kurung siku ([]). tuples tidak dapat diubah.

In [43]:
t = ['foo', 'bar', 'baz', 'qux','quux', 'corge']
print(t)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [45]:
print(t[0])
print(t[-1])

foo
corge

In [46]:
#packing and unpacking
(s1, s2, s3, s4)=('foo', 'bar','baz','qux')

In [47]:
s1

'foo'

### Python Dictionary
dictionaries adalah implementasi python dari struktur data yang lebih dikenal sebagi associative array. dictionaries terdiri dari key value pairs. setiap key-value pairs memetakan key ke value yang terkait.

dictionaries dapat didefinisikan sebagai mengapit daftar key-value pairs yang dipisahkan koma dalam tanda kurung kurawal ({}). Titik dua (:) memisahkan setiap kunci dari nilai yang terkait.

In [59]:
MLB_team ={'Colorado':'Rockies',
          'Boston':'Red Sox',
          'Minnesota':'Twins',
          'Milwaukee':'Brewers',
          'Seattle':'Mariners'
          }

#### Accessing Dictionary Values
sebuah nilai diambil dari dictionary dengan menentukan kunci yang sesuai dalam tanda kurung siku ([])

In [60]:
print (MLB_team['Minnesota'])
print (MLB_team['Colorado'])

Twins
Rockies

In [54]:
#menambah item
MLB_team['Kansas City']='Royals'

In [55]:
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [56]:
#jika ingin mengubah item
MLB_team['Seattle']='Seahawks'

In [57]:
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [58]:
# menghapus item
del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

#### Building a Dictionary Incrementally
bagaimana jika ingin membuat dictionary sambil jalan? bisa dimulai dengan membuat dictionary kosong yang ditentukan dengan tanda kurung kurawal kosong. kemudian setelah itu dapat ditambahkan/menambahkan kunci dan nilai baru satu per satu

In [66]:
person={}
type(person)

person['fname']='Hack'
person['lname']='PTP'
person['age']=51
person['spouse']='Edna'
person['children']=['Ralph','Betty','Joey']
person['pets']={'dog':'Fido','cat':'Sox'}

person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [67]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [68]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [71]:
#built Methods
d = {'a': 10,'b': 20,'c': 30}

#item
print(d.items())

#keys
print(d.keys())

#values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

### Line Continuation
misalkan satu pernyataan dalam kode  python sangat panjang. misalkan kalian memiliki assigment statement dengan banyak terms :

In [79]:
person1_age=42
person2_age=16
person3_age=71

someone_is_of_working_age = ((person1_age >=18 and person1_age <=65)
or (person2_age >=18 and person2_age <=65) or 
(person3_age >= 18 and person3_age <=65))

someone_is_of_working_age

True