**Installing Pandas**

In [4]:
pip install panda

Requirement already satisfied: pandas in c:\users\bb\anaconda3\lib\site-packages (0.25.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\bb\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\bb\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\bb\anaconda3\lib\site-packages (from pandas) (1.16.5)
Requirement already satisfied: six>=1.5 in c:\users\bb\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\users\bb\anaconda3\lib\site-packages (0.25.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\bb\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\bb\anaconda3\lib\site-packages (from pandas) (1.16.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\bb\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: six>=1.5 in c:\users\bb\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

## Praktikan Pandas

    kita akan menggunakan pandas dengan menganalisis hasil NBA yang diberikan oleh FiveThirtyEight 
    dalam file CSV 17MB.

In [7]:
pwd #

'C:\\Users\\BB'

In [8]:
ls ../data/ # !dir

Parameter format not correct - "data".

In [9]:
download_url = 'https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv'

In [10]:
import requests

In [11]:
response = requests.get(download_url)

In [12]:
print(type(response.status_code))
print(response.status_code)
if 200 >= response.status_code < 400: 
    print("Success")
else: 
    print("Error")

<class 'int'>
200
Success

In [13]:
with open('nba_all_elo.csv', 'wb') as f:
    f.write(response.content)

In [14]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [15]:
import numpy as np    
import pandas as pd  # sesuai  konvensi mengimpor Pandas dalam Python

In [16]:
pd.__version__

'0.25.1'

### Exploring Your Dataset
Exploratory data analysis dapat membantu kalian menjawab pertanyaan tentang kumpulan data kalian. Misalnya, kalian dapat memeriksa seberapa sering nilai tertentu muncul dalam kolom:

In [17]:
# Metode .value_counts() akan menghitung berapa kali 
# setiap nilai muncul di kolom tertentu, team_id dalam contoh ini.
df["team_id"].value_counts() # 
# team yg sering dan jarang

NameError: name 'df' is not defined

### Using .loc and .iloc

Operator pengindeksan ([]) memang mudah digunakan, tetapi ada peringatan. Bagaimana jika labelnya juga angka? Katakanlah kalian harus bekerja dengan objek Series seperti ini:

In [18]:
colors = pd.Series(
    ["red", "purple", "blue", "green", "yellow"],
    index=[1, 2, 3, 5, 8]
)

In [19]:
colors

1       red
2    purple
3      blue
5     green
8    yellow
dtype: object

In [20]:
colors[1]  ## mengambil key / label 1

'red'

In [21]:
colors.loc[1]  ## mengambil key / label

'red'

In [22]:
colors.iloc[1]  ## mengambil indeks 1

'purple'

In [23]:
colors

1       red
2    purple
3      blue
5     green
8    yellow
dtype: object

In [24]:
# Return the elements with the implicit index: 1, 2
colors.iloc[1:3]

2    purple
3      blue
dtype: object

### Accessing DataFrame Elements

In [25]:
city_data["revenue"]

NameError: name 'city_data' is not defined