### Nilai Integer

In [2]:
print(123123123123123123+1)

123123123123123124

In [3]:
print(10)
print(type(10))#'type' untuk menjelaskan bahwa yang kita run itu type apa

10
<class 'int'>

### Floating-Point Number
tipe float di python menunjukan bilangan floating-point. nilai float ditentukan dengan titik desimal. secara opsional, karakter e atau E diikuti dengan bilangan bulat positif atau negatif dapat ditambahkan untuk menentukan notasi ilmiah

In [4]:
print(4.2)
print(type(4.2))

4.2
<class 'float'>

In [5]:
print(.2)#'.' menandakan 0,

0.2

In [6]:
print(4.)

4.0

In [8]:
print(.4e7)

4000000.0

In [9]:
print(4.2e-4)

0.00042

### String
string merupakan urutan data karakter, string juga dapat kosong

In [7]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [10]:
print('')

In [11]:
print("This string contains a single quote ('') character.")

This string contains a single quote ('') character.

### Boolean type, boolean context, and "Truthiness"

In [14]:
print(type(True))
print (type(False))

<class 'bool'>
<class 'bool'>

### Variable Assigment

In [16]:
n=300
print(n)

300

In [17]:
n

300

In [18]:
a=b=c=d=300

In [19]:
print(a,b,c,d)

300 300 300 300

### Variabel Type di Python

In [21]:
var=23.5
print(var)

23.5

In [22]:
var="Now I'm a string"

In [23]:
print(var)

Now I'm a string

###  Variabel Names

In [25]:
name = "Hacktiv8"
age = 54
has_laptops=True
print(name,age, has_laptops)

Hacktiv8 54 True

In [26]:
9_kepala_naga = True #nama variabel tidak boleh dimulai denga angka karena akan error

SyntaxError: invalid token (<ipython-input-26-0eda0f31dee6>, line 1)

### Operators and Expressions in Python

In [28]:
a=10
b=40
a+b

50

In [29]:
a+b-5

45

### Arithmetic Operators

In [31]:
a=4
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

7
1
12
1.3333333333333333
1
64

### Comparison Operators

In [33]:
a=10
b=20
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)

False
True
True
False

In [35]:
a=30
b=30
print(a==b)
print(a<=b)
print(a>=b)

True
True
True

### String Manipulation

In [39]:
#operator +
s='foo'
t='bar'
u='baz'
print(s+t)
print(s+t+u)
print('Hacktiv8'+'PTP')

foobar
foobarbaz
Hacktiv8PTP

In [40]:
# operator *
s='foo'
print(s in 'That food for us')
print(s in 'That good for us')

True
False

In [42]:
# Case conversion
s='Hacktiv8'

#Capitalize
print(s.capitalize())

#swapcase
print(s.swapcase())

# title
print(s.title())

#uppercase
print(s.upper())

Hacktiv8
hACKTIV8
Hacktiv8
HACKTIV8

### Python Lists